{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "syntax-class-properties",
        "syntax-object-rest-spread",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-es2015-computed-properties"
    ]
}