/* Body sizing */

body {
    width: 100%;
    box-sizing: border-box;
    background-color: #d5d5d5;
}

/* All buttons */

.btn.focus, .btn:focus {
    box-shadow: none;
}

/* Navbar */

nav {
    background-color: #6d7993;
    color: #d5d5d5;
}

.btn-nav-active {
    background-color: #d5d5d5;
    color: white;
}

.btn-nav-active:hover {
    background-color: white;
    color: #d5d5d5;
}

.btn-nav {
    background-color: #9099a2;
    color: whitesmoke;
}

.btn-nav:hover {
    background-color: whitesmoke;
    color: #9099a2;
}

/* Report card */

.card {
    background-color: whitesmoke;
    -webkit-box-shadow: #9099a2 0px 0 10px;
    -moz-box-shadow: #9099a2 0 0 10px;
    box-shadow: #9099a2 0 0 10px;
}

.card small {
    color: #6d7993;
}

.btn-report-card {
    background-color: rgba(0, 0, 0, 0);
    color: #6d7993;
}

.btn-report-card:hover {
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4);
    -o-transform:scale(1.4);
    transform:scale(1.4);
}

.btn-group-report-card {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (min-width: 576px) {
    .side-line-sm {
        border-right: 1px solid #d5d5d5;
    }

    .card-body {
        padding-left: 4em;
    }
}

@media screen and (min-width: 768px) {
    .card-body {
        padding-left: 5em;
    }
}

@media screen and (min-width: 992px) {
    .side-line-lg {
        border-right: 1px solid #d5d5d5;
    }

    .card-body {
        padding-left: 2.5em;
        padding-right: 0;
    }
}

@media screen and (min-width: 1200px) {
    .card-body {
        padding-left: 3em;
    }
}

