/* Body sizing */

body {
    width: 100%;
    box-sizing: border-box;
}

/* Navbar */

nav {
    background-color: #6d7993;
    color: #d5d5d5;
}

.btn-nav {
    background-color: #d5d5d5;
    color: white;
}

.btn-nav-active {
    background-color: #9099a2;
    color: whitesmoke;
}

/* All buttons */

.btn.focus, .btn:focus {
    box-shadow: none;
}