.nav {
    background-color: #6d7993;
    color: #d5d5d5;
}

.navLink button {
    background-color: #9099a2;
    color: whitesmoke;
}

.navLink button:hover {
    background-color: whitesmoke;
    color: #9099a2;
}

.navLinkActive button {
    background-color: #d5d5d5;
    color: white;
}

.navLinkActive button:hover {
    background-color: white;
    color: #d5d5d5;
}